@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/codioful-formerly-gradienta-OzfD79w8ptA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.tittle {
    text-align: center;
}

.navTittle {
    font-size: 18px;
    font-weight: 500;
}

h1 {
    font-size: 64px;
}

p {
    font-weight: 200;
    font-size: 18px;
}

h2 {
    font-size: 26px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 55px;
    list-style: none;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #101450;
    padding: 22px;
    justify-content: space-around;
    position: fixed;
    height: fit-content;
    width: 100%;
    align-items: center;
}


.header-title {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 300px;
    align-items: center;
}

.header li:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.webIcons {
    display: flex;
    gap: 26px;
}

.webIcons img {
    width: 46px;
    border-radius: 0px;
}

.arrow {
    width: 100px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 82px;
    align-items: center;
    padding-top: 00px;
}

.arrow {
    height: 100px;
    width: 14px;
    padding-left: 950px;
    padding-top: 300px;
    animation: infinite;
}

h4 {
    font-size: 18px;
    font-weight: normal;
}

.textCv {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 700px;
}

.cv {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.imageText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    justify-content: center;
}

img {
    border-radius: 12px;
    width: 430px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    padding-top: 300px;
}

button {
    display: flex;
    background-color: #3039be;
    padding: 16px 28px 16px 28px;
    width: fit-content;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    gap: 12px;
    align-items: center;
}

.buttonPng {
    height: 24px;
    width: 24px;
}

a {
    text-decoration: none;
}

button:hover {
       border: 1.5px solid white;
       background: none;
       cursor: pointer;
}

.projectsText {
    display: flex;
    gap: 400px;
    align-items: center;
}

.cardsContainer {
    display: flex;
    gap: 50px;
    font-size: 12px;
    padding-bottom: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    gap: 22px;
    background-color: #303abe48;
    padding: 0px 0px 20px 0px;
}

.cardTech {
    display: flex;
    gap: 18px;
}

.cardTech p {
    border: 1px solid rgba(255, 255, 255, 0.351);
    background-color: rgba(255, 255, 255, 0.086);
    padding: 8px;
    border-radius: 40px;
    font-size: 10px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.card img {
    width: 280px;
    height: 180px;
    border-radius: 12px 12px 0px 0px;
}

.card img:hover {
    filter: brightness(70%);
    cursor: pointer;
}

footer {
    display: flex;
    padding-top: 100px;
    background-color: #010313;
    justify-content: center;
    gap: 200px;
    padding-bottom: 100px;
    align-items: center;
}

footer img {
    height: 24px;
    width: 24px;
}

.footerText {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.textsasa {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.logo p{
    font-weight: bold;
}

.socialsIcons {
    display: flex;
    gap: 16px;
}

.socialsIcons img {
    width: 42px;
    height: 42px;
    border-radius: 0px;
}

.socialsIcons img:hover {
    filter: brightness(70%);
    cursor: pointer;
}